<%= render 'layouts/category_nav_bar'%>

<div class="slick-test">
  <div><%= image_tag 'http://placehold.it/800x500' %></div>
  <div><%= image_tag 'http://placehold.it/800x500/000000/ffffff' %></div>
  <div><%= image_tag 'http://placehold.it/800x500/fefefe/cacaca' %></div>
</div>

<%= content_for :page_scripts do %>
  <script>
    $('.slick-test').slick();
  </script>
<% end %>
